@using WebApp.Components.Habits.Components.Papers

<MudCard Class="pb-5 your-day-todo" Elevation="0">
    <MudCardHeader Class="todo-card-header border-solid border-2-1">
        <CardHeaderContent>
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <h3>Habits</h3>
            </MudStack>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudSimpleTable Elevation="0" Dense Style="overflow-x: auto;">
            @if (habitList.Any())
            {
                <tbody>
                    @foreach (var habit in habitList)
                    {
                        <tr>
                            <td>
                                <HabitItemPaper ApplicationUserId="@applicationUserId" Habit="habit" />
                            </td>
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
                    <MudButton Href="/a/todos" Variant="Variant.Filled" Color="Color.Info">Manage Habits</MudButton>
                </MudStack>
            }
        </MudSimpleTable>
    </MudCardContent>
</MudCard>
