@page "/a/todos"
@using WebApp.Components.Todos.Components.Papers

<MudStack Class="mx-10 mt-5 " Spacing="2">
    <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="mb-5">
        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
            <h2><strong>To Do</strong></h2>
        </MudStack>
        <div>
            <MudButton Class="px-4 py-2" 
                       Color="Color.Primary" 
                       Variant="Variant.Filled" 
                       StartIcon="@Icons.Material.Filled.Add" OnClick="OnClickCreateTodo">Add Todo</MudButton>
        </div>
    </MudStack>

    @if (TodoAppState!.Todos.Count == 0)
    {
        <MudStack Row="false" AlignItems="AlignItems.Center" Justify="Justify.Center">
            <MudText Typo="Typo.h5" Color="Color.Default">Nothing to do! You're all caught up.</MudText>
            <MudImage Height="200" Src="assets/images/up_to_date_re_nqid.svg" Alt="Up to date" Elevation="0" Class="rounded-lg" />
        </MudStack>
    }
    else
    {
        <MudSimpleTable Elevation="0" Dense Style="overflow-x: auto;">
            <tbody>
                @foreach (var todo in TodoAppState!.Todos)
                {
                    <tr>
                        <td>
                            <TodoItemPaper Todo="@todo" ApplicationUserId="@applicationUserId" OnEdit="OnEditTodo" OnDelete="OnDeleteTodo" />
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    }
</MudStack>
