<FluentGrid>
    <FluentGridItem xs="6">
        <div class="card" style="border-right: 1px solid #ccc; height: 100%;">
            <h3>Inbox</h3>
            <FluentTextField @bind-Value=todoText Placeholder="Add todo" style="width: 100%">
                <FluentIcon Value="@(new Icons.Regular.Size16.Add())" Slot="start" Color="Color.Neutral" />
            </FluentTextField>
        </div>
    </FluentGridItem>
    <FluentGridItem xs="6">
        <div class="card">
        </div>
    </FluentGridItem>
</FluentGrid>


@code {
    private string todoText = string.Empty;
}
