@using WebApp.Components.Todos.Components.Papers

<MudCard Class="pb-5 your-day-todo" Elevation="0">
    <MudCardHeader Class="todo-card-header border-solid border-2-1">
        <CardHeaderContent>
            <MudText Typo="Typo.body2"><strong>To Dos</strong></MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
       <MudSimpleTable Elevation="0" Dense Style="overflow-x: auto;">
        <tbody>
            @foreach (var todo in Todos)
            {
                <tr>
                    <td>
                        <TodoItemPaper Todo="@todo" ApplicationUserId="@applicationUserId" />
                    </td>
                </tr>
            }
        </tbody>
        </MudSimpleTable> 
    </MudCardContent>
</MudCard>
