@using Application.Labels.Commands.Create
@using MediatR
@using MudBlazor.Utilities
@rendermode InteractiveServer

<MudDialog Style="min-height: 300px; width: 400px;" Class="pb-5">
    <TitleContent>
        <h2>New Label</h2>
    </TitleContent>
    <DialogContent>
        <MudPaper Elevation="0" MinHeight="50px">
            <MudStack>
                <MudText Typo="Typo.subtitle1">Please enter a new folder name:</MudText>
                <MudTextField @bind-Value="title" 
                              Immediate Variant="Variant.Outlined" 
                              Placeholder="Title"></MudTextField>
                @*
                <MudColorPicker Adornment="Adornment.None"
                @bind-Text="_colorValue"
                ImmediateText
                Variant="Variant.Outlined"
                Style="@($"color: {_colorValue};")"
                Placeholder="Color"
                ColorPickerView="ColorPickerView.Palette" />
                *@
            </MudStack>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <div class="px-5">
            <MudButton OnClick="Cancel" Variant="Variant.Text" Color="Color.Primary">Cancel</MudButton>
            <MudButton Color="Color.Primary" 
                       Variant="Variant.Filled" 
                       DropShadow="false" 
                       OnClick="OnClickSubmit" 
                       Disabled="@(string.IsNullOrEmpty(title))">Create</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; } = default!;

    [Inject]
    public IMediator Mediator { get; set; } = default!;

    [Parameter]
    public string ApplicationUserId { get; set; } = string.Empty;

    private string color = string.Empty;

    private string title = string.Empty;

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();

    private async Task OnClickSubmit()
    {
        var command = new CreateLabelCommand(title, ApplicationUserId);
        var result = await Mediator.Send(command);

        if (result.IsSuccess)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }
    }
}
