@page "/your-day"
@using Microsoft.AspNetCore.Authorization
@using WebApp.Components.Todos.Components.Cards
@attribute [Authorize]
@rendermode InteractiveServer

<MudContainer MaxWidth="MaxWidth.ExtraLarge" >
    <MudStack Class="mb-5 pa-5">
        <h2><strong>@PageTitle</strong></h2>
        <MudGrid Spacing="5">
            <MudItem xs="12" md="6">
                <YourDayTodoCard />
            </MudItem>
        </MudGrid>
    </MudStack>
</MudContainer>
